* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #e5e5e5;
  text-align: center;
  min-height: 100%;
}

#app {
  color: #333;
  margin-top: 60px;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
}

.input {
  display: block;
  margin-bottom: 15px;
}

.button {
  display: block;
  margin: 15px auto;
}
